[submodule "dependencies/SimpleJSON"]
	path = dependencies/SimpleJSON
	url = https://github.com/nbsdx/SimpleJSON
[submodule "dependencies/loguru"]
	path = dependencies/loguru
	url = https://github.com/emilk/loguru
[submodule "dependencies/sdk"]
	path = dependencies/sdk
	url = https://github.com/meganz/sdk
[submodule "dependencies/served"]
	path = dependencies/served
	url = https://github.com/meltwater/served
